*{
	margin: 0;
	padding: 0
}
#header{
	width: 100%;
	background-color: #9E035F;
}
#message>h1{
	font-family: georgia;
	color: green;
}
.form-control{
	border-radius: 0;
}
#header ul li{
	color: white;
	display: inline-block;
	font-family: verdana;
	font-size: 22px;
	border:1px solid white;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	padding: 14px 12px;
	cursor: pointer;
	margin-left: -3px;
}
#create{
	width: 550px;
	height: 500px;
	margin: 0 auto;
	margin-top: 3%;
	padding: 12px;
}
#adder{
	width: 100%;
	font-size: 23px;
	background-color: #9E035F;
	border:0;
	padding: 8px;
	color: white;
	font-family: verdana;
}
#done{
	width: 100%;
	font-size: 23px;
	background-color: #9E035F;
	border:0;
	padding: 8px;
	color: white;
	font-family: verdana;
	background-color: #039E56
}
tr{
	height: 100px;
	font-family: georgia;
	border: 1px solid gray;
}
th{
	height: 60px;
	width: 100px;
	font-size: 28px;
	border: 1px solid gray;
	text-align: center;

}

#cucak{
	box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5); cursor: pointer;
    margin: 0 auto;
    display: inline-block;
   
}
#welcome{
	position: relative;
	color: white;
	background-color: #0099DE;
	width: 78%;
	height: 600px;
	margin-top: 10%;
	margin-bottom: 5%;
	-webkit-box-shadow: 26px 49px 41px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 26px 49px 41px 0px rgba(0,0,0,0.75);
box-shadow: 26px 49px 41px 0px rgba(0,0,0,0.75);
	margin:0 auto;
}
#welcome > img {
	width: 100%;
	margin-top: 100px;

}
#welcome h1{
	font-size: 50px;
}
#welcome>div{
    margin-top: 50px;
    width: 70%;
    position: absolute;
    text-align: center;
    margin-left: 160px;
    height: 60px;
    font-family: georgia;
}

#post{
	float: right;
	width: 450px;
	height: auto;
	margin-top: 3%;
	margin-right: 3%;

}
#query{
	box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5); 
	cursor: pointer;
    margin: 0 auto;
    display: block;
   	border: 1px solid gray;
 	width: 70%;
 	height: auto;
 	padding: 12px;
 	margin-top: 3%;
 	margin-bottom: 10%;
 	display: none;
}
#query h1{
	color: #48DE4E;
	text-align: center;

}
#graphic{
	width: 70%;
	height: auto;
	margin:0 auto;
	box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5); 
   	border: 1px solid gray;
 	margin-top: 5%;
 	margin-bottom: 10%;
}
#query h2{
	margin-left: 3%;
}
#query h2:not(:last-child){
	display: inline-block;
}

#table-div{
	width: 800px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	margin-top: 5%;
}
td{
	color: #E91E63;
	border: 1px solid gray;
	font-size: 25px;
	text-align: center;
}
td:hover{
	box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5);

}
.vote{
	height: 58px!important;
    width: 175px!important;
    font-size: 35px!important;
    margin-left: 132px;
}
#checkArray{
	width: 420px;
	height: auto;
	margin: 0 auto;
}

.danger{
	width: 85%;
	height: 30px;
	background-color: #E91E63;
	font-family: cursive;
	font-size: 15px;
	border: 0;
	color: white;
	box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5);
	cursor: pointer;

}
.danger:hover{
	transform: rotate(2deg);
	width: 87%;
	height: 35px;
	font-size: 17px;

}
.success{
	width: 85%;
	height: 30px;
	background-color: #48DE4E;
	font-family: cursive;
	font-size: 15px;
	border: 0;
	color: white;
	box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.5);
	cursor: pointer;
}
.success:hover{
	width: 87%;
	height: 35px;
	font-size: 17px;

}
